.home_page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background-color: beige;
}

.text {
  text-align: center;
  font-size: 5em;
  font-weight: 700;
  margin-top: 15%;
}

.btn_start {
  background: #1aab8a;
  color: #fff;
  border: none;
  height: 60px;
  font-size: 1.6em;
  position: relative;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  width: 500px;
  margin-top: 10%;
}

.btn_start:hover {
  background: #fff;
  color: #1aab8a;
}

.btn_start:before,
.btn_start:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}

.btn_start:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn_start:hover:before,
.btn_start:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.home_page {
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
